.mt-5{
    padding-top: 25px;
}
.mt-4{
    padding-top: 20px;
}
.mt-3{
    padding-top: 15px;
}
.mt-2{
    padding-top: 10px;
}
img{
    border-bottom-right-radius:  45%;
    
}
h6{
    text-align: center;
}

ion-avatar{
    width: 150px;
    height: 150px;
}

.avatar{
    align-items: center;
}