<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agenda</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item style="margin-top: 5px;">
    <div class="calendar-container">
      <div class="calendar-header">
        <ion-button fill="clear" (click)="prevMonth()" class="prev-month">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
        <span class="month-year">{{ monthYear }}</span>
        <ion-button fill="clear" (click)="nextMonth()" class="next-month">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>
      <div class="calendar">
        <div class="weekdays">
          <div>DOM</div>
          <div>SEG</div>
          <div>TER</div>
          <div>QUA</div>
          <div>QUI</div>
          <div>SEX</div>
          <div>SAB</div>
        </div>
        <div class="days">
          <div *ngFor="let day of days" [ngClass]="{
              'today': day.today, 
              'other-month': day.otherMonth, 
              'meeting': day.event?.type === 'meeting',
              'holiday': day.event?.type === 'holiday',
              'birthday': day.event?.type === 'birthday'
            }" (click)="selectEvent(day)">
            {{ day.day }}
            <div *ngIf="day.event" class="event-title">{{ day.event.title }}</div>
          </div>
        </div>
      </div>
      <div class="calendar-footer">
        <span class="year">{{ year }}</span>
      </div>


    </div>
  </ion-item>

  <!-- Card do Evento Selecionado -->
  <ion-card *ngIf="selectedEvent">
    <ion-card-header>
      <ion-card-title>{{ selectedEvent.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Data: {{ selectedEvent.date | date:'fullDate' }}</p>
      <p>Tipo: {{ selectedEvent.type }}</p>
      <p>{{ selectedEvent.description }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="loadEvents()">chamar</ion-button>
  <div *ngIf="showForm">
    <ion-card *ngFor="let item of selectedEvents">
      <ion-card-header>
        <h4 class="text-center"><strong>{{ item.DESCRICAO }}</strong></h4>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Hora: {{item.HORA}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Local: {{item.LOCAL}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Realizado: {{item.IND_REALIZADO}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>N. Part.: {{item.NUMEROPARTICIPANTES}}</ion-label>
        </ion-item>

        <ion-button color="light" (click)="handleCancel()">fechar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>