<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pessoas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="setOpen(true)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-item>
    <ion-row>
      <ion-col size="8">
        <ion-input [(ngModel)]="nome" label="Pessoa"></ion-input>
      </ion-col>
      <ion-col size="4">
        <ion-select [(ngModel)]="selectedOption" label="" placeholder="">
          <ion-select-option value="nome">Nome</ion-select-option>
          <ion-select-option value="cpf">CPF</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

  </ion-item>
  
    <ion-button  [disabled]="spiner" size="small" expand="block" (click)="pesquisar()">
      Pesquisar
      <ion-spinner  *ngIf="spiner"></ion-spinner>
    </ion-button>
    



  <ion-list>
    <ion-card *ngFor="let pessoa of dadopesquisa">
      <ion-card-header>
        <h6>{{ pessoa.RAZAOSOCIAL }}</h6>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Código Pessoa:</strong> {{ pessoa.CODIGOPESSOA }}</p>
        <p><strong>Email:</strong> {{ pessoa.EMAIL }}</p>
        <p><strong>Telefone:</strong> {{ pessoa.TELEFONE1 }}</p>
      </ion-card-content>
      <ion-item>

        <ion-button size="small" expand="block" (click)="detailOpen(true, pessoa.CODIGOPESSOA)">
          Detalhes
        </ion-button>
        <ion-button size="small" slot="end" color="warning" (click)="financeiro(pessoa.CODIGOPESSOA, pessoa.RAZAOSOCIAL)">
          Financeiro
        </ion-button>
      </ion-item>
    </ion-card>
  </ion-list>


  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Cadastrar Pessoa</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Voltar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <form>
          <ion-item>
            <ion-input label="Nome" labelPlacement="floating" placeholder="" [(ngModel)]="cadastro.RAZAOSOCIAL" name="nome"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="CPF" labelPlacement="floating" placeholder="" [(ngModel)]="cadastro.CPF" name="cpf"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Telefone" labelPlacement="floating" placeholder="" [(ngModel)]="cadastro.TELEFONE1" name="telefone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Email" labelPlacement="floating" placeholder="" [(ngModel)]="cadastro.EMAIL" name="email"></ion-input>
          </ion-item>
          <ion-button expand="full" size="small" color="success" (click)="salvarCadastro()">Salvar</ion-button>
        </form>

      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isDetail">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Detalhes</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="detailOpen(false)">Voltar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        
        <ion-list lines="full">
          <ion-item>
            <ion-label>Status: {{ data.STATUS }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Avalista: {{ data.AVALISTA }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Celular: {{ data.CELULAR }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Cidade: {{ data.CIDADE }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>CPF: {{ data.CPF }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>CPF Avalista: {{ data.CPF_AVALISTA }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>CPF Representante: {{ data.CPF_REPRESENTANTE }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Nome F.: {{ data.NOMEFANTASIA }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Obs: {{ data.OBSERVACAO }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Razao.: {{ data.RAZAOSOCIAL }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Representante: {{ data.REPRESENTANTE }}</ion-label>
          </ion-item>
          <!-- adicionar função que abre o whatsapp -->
          <ion-item>
            <ion-label>Telefone 1: {{ data.TELEFONE1 }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><p>Telefone 2: {{ data.TELEFONE2 }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Telefone 3: {{ data.TELEFONE3 }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Telefone 4: {{ data.TELEFONE4 }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Telefone 5: {{ data.TELEFONE5 }}</ion-label>
          </ion-item>
        </ion-list>

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>