<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pessoas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-item>
    <ion-row>
      <ion-col size="8">
        <ion-input [(ngModel)]="nome" label="Nome"></ion-input>
      </ion-col>
      <ion-col size="4">
        <ion-select label="" placeholder="">
          <ion-select-option value="apple">Nome</ion-select-option>
          <ion-select-option value="banana">CPF</ion-select-option>
        </ion-select>    
      </ion-col>
    </ion-row>
    
  </ion-item>
  
  
</ion-content>
