<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Financeiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item>
      <ion-label>
        <p>{{id}}- {{razao}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Devido {{totalR | currency:'BRL':'symbol':'1.2-2'}}</p>
      </ion-label>
      <ion-label>
        <p>pago {{totalQ | currency:'BRL':'symbol':'1.2-2'}}</p>
      </ion-label>
      <ion-label>
        <p>Total: {{totalS | currency:'BRL':'symbol':'1.2-2'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-card style="max-width: 250px; margin: 0 auto; display: block; margin-top: 5px; margin-bottom: 5px;">
    <canvas id="myChart" width="200" height="100"></canvas>
  </ion-card>
    
<ion-item lines="none" >
  <div style="display: flex; justify-content: center; width: 100%;">
  <ion-button expand="block" color="success" (click)="toggleInfiniteScroll()">
    {{ showInfiniteScroll ? 'Esconder' : 'Mostrar' }} Quitadas
  </ion-button>
  <ion-button expand="block" color="danger" (click)="toggleInfiniteScrollPagar()">
    {{ showInfiniteScrollPagar ? 'Esconder' : 'Mostrar' }} Abertas
  </ion-button>
  </div>
</ion-item>

  <div *ngIf="showInfiniteScroll">
    <ion-list style="background-color: rgb(220, 252, 228);">
      
        <ion-card *ngFor="let item of dataQ; let index = index">
          <ion-card-content>   
            <ion-row>
              <ion-col>
                <ion-label><strong>Empresa:</strong> {{ item.CODIGOEMPRESA }}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label><strong>Lançamento:</strong> {{  formatNumber(item.NUMEROCONTARECEBER) }}</ion-label>
              </ion-col>
            </ion-row>


            <ion-row>
              <ion-col>
                <ion-label><strong>Total:</strong> {{ item.VLR_TOTAL | currency:'BRL':'symbol':'1.2-2'}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label><strong>Rec:</strong> {{ item.DT_RECEBIMENTO | date: 'dd/MM/yyyy' }}</ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label><strong>Tipo</strong>: {{ item.TIPO_COBRANCA }} </ion-label>    
              </ion-col>
              <ion-col>
                <ion-label><strong>Vec:</strong> {{ item.DT_VENCIMENTO | date: 'dd/MM/yyyy' }} </ion-label>    
              </ion-col>
            </ion-row>
            
          </ion-card-content>
        </ion-card>
      
      
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  

  <div *ngIf="showInfiniteScrollPagar">
    <ion-list style="background-color: rgb(253, 235, 235);">
      <ion-card *ngFor="let item of dataR; let index = index">
        <ion-card-content>   
          <ion-row>
            <ion-col>
              <ion-label><strong>Empresa:</strong> {{ item.CODIGOEMPRESA }}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>Lançamento:</strong> {{  formatNumber(item.NUMEROCONTARECEBER) }}</ion-label>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col>
              <ion-label><strong>Total:</strong> {{ item.VLR_TOTAL | currency:'BRL':'symbol':'1.2-2'}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>Rec:</strong> {{ item.DT_RECEBIMENTO | date: 'dd/MM/yyyy' }}</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-label><strong>Tipo:</strong> {{ item.TIPO_COBRANCA }} </ion-label>    
            </ion-col>
            <ion-col>
              <ion-label><strong>Vec:</strong> {{ item.DT_VENCIMENTO | date: 'dd/MM/yyyy' }} </ion-label>    
            </ion-col>
          </ion-row>
          
        </ion-card-content>
      </ion-card>
    
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>



</ion-content>