<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Financeiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item>
      <ion-label>
        <p>{{id}}- {{razao}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

<ion-row>
  <ion-col>
    
  </ion-col>
  <ion-col>
    <canvas id="myChart" width="200" height="100"></canvas>
  </ion-col>
  <ion-col>

  </ion-col>
</ion-row>
  


  <ion-button expand="block" color="success" (click)="toggleInfiniteScroll()">
    {{ showInfiniteScroll ? 'Esconder' : 'Mostrar' }} Quitadas
  </ion-button>

  <div *ngIf="showInfiniteScroll">
    <ion-list>
      
        <ion-card *ngFor="let item of data; let index = index">
          <ion-card-content>   
            <ion-row>
              <ion-col>
                <ion-label>Empresa: {{ item.CODIGOEMPRESA }}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>Lançamento: {{  formatNumber(item.NUMEROCONTARECEBER) }}</ion-label>
              </ion-col>
            </ion-row>


            <ion-row>
              <ion-col>
                <ion-label>Total: {{ item.VLR_TOTAL | currency:'BRL':'symbol':'1.2-2'}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>Rec: {{ item.DT_RECEBIMENTO | date: 'dd/MM/yyyy' }}</ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label>Tipo: {{ item.TIPO_COBRANCA }} </ion-label>    
              </ion-col>
              <ion-col>
                <ion-label>Vec: {{ item.DT_VENCIMENTO | date: 'dd/MM/yyyy' }} </ion-label>    
              </ion-col>
            </ion-row>
            
          </ion-card-content>
        </ion-card>
      
      
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <ion-button expand="block" color="danger" (click)="toggleInfiniteScrollPagar()">
    {{ showInfiniteScrollPagar ? 'Esconder' : 'Mostrar' }} Abertas
  </ion-button>

  <div *ngIf="showInfiniteScrollPagar">
    <ion-list>
      <ion-card *ngFor="let item of dataR; let index = index">
        <ion-card-content>   
          <ion-row>
            <ion-col>
              <ion-label>Empresa: {{ item.CODIGOEMPRESA }}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>Lançamento: {{  formatNumber(item.NUMEROCONTARECEBER) }}</ion-label>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col>
              <ion-label>Total: {{ item.VLR_TOTAL | currency:'BRL':'symbol':'1.2-2'}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>Rec: {{ item.DT_RECEBIMENTO | date: 'dd/MM/yyyy' }}</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-label>Tipo: {{ item.TIPO_COBRANCA }} </ion-label>    
            </ion-col>
            <ion-col>
              <ion-label>Vec: {{ item.DT_VENCIMENTO | date: 'dd/MM/yyyy' }} </ion-label>    
            </ion-col>
          </ion-row>
          
        </ion-card-content>
      </ion-card>
    
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>



</ion-content>