.status-circle {
    display: inline-block;
    padding: 5px 10px;
    background-color: #add8e6; /* azul claro */
    border-radius: 50%;
    color: white;
    text-align: center;
  }
  
  .status-circle-blue {
    display: inline-block;
    padding: 5px 10px;
    background-color: #add8e6; /* azul claro */
    border-radius: 50%;
    color: white;
    text-align: center;
  }
  
  .status-circle-green {
    display: inline-block;
    padding: 5px 10px;
    background-color: #90ee90; /* verde claro */
    border-radius: 50%;
    color: white;
    text-align: center;
  }
  
  .status-circle-red {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f08080; /* vermelho claro */
    border-radius: 50%;
    color: white;
    text-align: center;
  }
  .status-circle-orang {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f0bf7a; /* vermelho claro */
    border-radius: 50%;
    color: white;
    text-align: center;
  }
  .status-circle-purple {
    display: inline-block;
    padding: 5px 10px;
    background-color: #d072ef; /* vermelho claro */
    border-radius: 50%;
    color: white;
    text-align: center;
  }
  .item-light {
    --background: #ffffff; /* Cor normal */
  }
  
  .item-dark {
    --background: #f0f0f0; /* Cinza claro */
  }